@font-face {
	font-family: 'Bellota-LightItalic';
	src: url('../fonts/Bellota-LightItalic.otf');
}

@font-face {
	font-family: 'Bellota-BoldItalic';
	src: url('../fonts/Bellota-BoldItalic.otf');
}

body {
	background-color: #e9ebee;
	padding-top: 70px;
	font-family: 'Bellota-LightItalic', sans-serif;
}

a:link, a:visited {
	text-decoration: none;
}

a:focus, a:hover {
	text-decoration: none;
}

.ll {
	height: 50px;
}

.profile_box {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	padding: 5px;
	margin-top: 10px;
}

/* .box.post_box {
	background-color: #ffffff;
	border: 1px solid #ddd;
	min-height: 10px;
	border-radius: 0px;
	padding: 15px;
} */

.form-control.post_input {
	height: 95px;
	padding-top: 8px;
	padding-left: 12px;
}

.post_area_p {
    color: #acbbc6;
    display: block;
    font-size: 12px;
}

.post_area_p.profile_p_title {
    padding-top: 5px;
    text-align: center;
}

.profile_p_count {
    color: #34495e;
    font-size: 20px;
    font-weight: bold;
    margin-top: -2px;
    overflow: hidden;
    text-align: center;
}

.post_box {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	border-radius: 0;
	padding: 5px;
	margin-bottom: 20px;
	word-wrap:break-word;
	word-break:break-all;
	
	-webkit-box-shadow: none;
	box-shadow: none;
}

.post_box_header {
	height: 22px;
	padding: 1px;
}

.post_info {
	padding: 10px 0;
}

.post_area_p.post_p {
    font-size: 14px;
    /* padding: 5px 0; */
}

.post_option_box {
	padding-left: 0;
	padding-top: 20px;
	padding-bottom: 5px;
	min-height: 40px;
}

.share, .commentdis, .like {
	height: 25px;
	padding-top: 1px;
}

.like_a {
	color: #e74c3c;
}

.like_a:focus, .like_a:hover {
	color: #c0392b;
}

.comment {
	border-top: 2px solid #ddd;
	margin-top: 5px;
	padding: 10px;
}

.comment_input_panel {
	padding-right: 0;
}

.form-control.comment_input {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 12px;
}

.eachComment {
	clear: both;
	padding: 5px 0;
	margin-bottom: 2px;
}

.eachComment:nth-of-type(odd) {
	background-color: rgba(236, 240, 241, 0.80);
}

.eachComment:nth-of-type(even) {
	background-color: rgba(189, 195, 199,0.50);
}

.friends_list_area {
	padding-left: 0;
	padding-right: 0;
	padding-top: 15px;
	padding-bottom: 0;
	border-bottom: 0;
}

.friendlist_title {
	color: #2c3e50;
	font-size: 14px;
	font-weight: bold;
}

.friends_list_group {
	margin-bottom: 0;
	border-top: 1px solid #ddd;
}

.panel.panel-default.friends_list_panel{
	border-radius: 0;

	-webkit-box-shadow: none;
			box-shadow: none;
}

.emoji-container-p {
	margin-bottom: 0px;
}

/* Scroll to top button */
#scrolltop_btn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	cursor: pointer;
}

#scrolltop_btn:hover {
	background-color: #e74c3c;
}

/* Ripple magic */
button {
    position: relative;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
}

button:after {
    content: "";
    background: #ecf0f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

