@font-face {
	font-family: 'Bellota-LightItalic';
	src: url('../fonts/Bellota-LightItalic.otf');
}

@font-face {
	font-family: 'Bellota-BoldItalic';
	src: url('../fonts/Bellota-BoldItalic.otf');
}

body {
	padding-top: 70px;
}

.profile_box {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	padding: 5px;
	margin-top: 10px;
}

/* .box.post_box {
	background-color: #ffffff;
	border: 1px solid #ddd;
	min-height: 10px;
	border-radius: 0px;
	padding: 15px;
} */

.post_area_p {
    color: #acbbc6;
    display: block;
    font-size: 12px;
}

.post_area_p.profile_p_title {
    padding-top: 5px;
    text-align: center;
}

.profile_p_count {
    color: #34495e;
    font-size: 20px;
    font-weight: bold;
    margin-top: -2px;
    overflow: hidden;
    text-align: center;
}

.post_box {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	border-radius: 0;
	padding: 5px;
	margin-bottom: 20px;
	word-wrap:break-word;
	word-break:break-all;
	
	-webkit-box-shadow: none;
	box-shadow: none;
}

.post_box_header {
	height: 22px;
	padding: 1px;
}

.post_info {
	padding: 10px 0;
}

.post_area_p.post_p {
    font-size: 14px;
    /* padding: 5px 0; */
}

.post_option_box {
	padding-left: 0;
	padding-top: 20px;
	padding-bottom: 5px;
	min-height: 65px;
}

.comment {
	border-top: 2px solid #ddd;
	margin-top: 5px;
	padding: 10px;
}

.friends_list_area {
	padding-left: 0;
	padding-right: 0;
	padding-top: 15px;
	padding-bottom: 0;
	border-bottom: 0;
}

.friends_list_group {
	margin-bottom: 0;
	border-top: 1px solid #ddd;
}

.panel.panel-default.friends_list_panel{
	border-radius: 0;

	-webkit-box-shadow: none;
	box-shadow: none;
}

.posting_on_profile input[type="submit"] {
	width:90%;
	height: 30px;
	border-radius:5px;
	margin:0px 0 0 7px;
	color:#fff;
	background-color: #0043f0;
}

.upload_profile_pic input[type="submit"] {
	width:90%;
	height: 30px;
	border-radius:5px;
	margin:0px 0 0 7px;
	color:#fff;
	background-color: #2ecc71;
}

.upload_profile_pic_area {
	border: 2px solid #ddd;
	padding-left: 10px;
	background-color: #f8f8f8;
}

#message_textarea {
	width:70%;
	margin-right:8px;
	border-radius: 6px;
	font-size: 14px;
	border :2px solid #bec6d5;
}

#message_submit {
	height : 45px;
	width : 80px;
	margin :0;
	position: absolute;
	border:none;
	background-color: #2ecc71;
	color :#fff ;
	border-radius: 5px;
	font-family: 'Bellota-BoldItalic', sans-serif;
	text-shadow: #7386E2 0.5px 0.5px 0px;
}

.message {
	border: 1px solid #bec6d5;
	/*border-radius: 5px; */
	padding: 5px 10px;
	display: inline-block;
	color: #fff;
}

.message#blue{
	background-color: #337ab7;
	border-color: #2980b9;
	float:right;
	margin-bottom: 5px;
	position: relative;
}

.message#green{
	background-color: #F4511E;
	border-color: #BF360C;
	float:left;
	margin-bottom: 5px;
	margin-right: 10px;
	position: relative;
}

.message#green:before {
	position: absolute;
	width:15px;
	height:15px;
	border-top: 0px solid #fff;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	border-left: 0px solid #fff;
	top:0%;
	left:0%;
	margin-left: 0px;
	content:'';
	transform: rotate(45deg);
	margin-top: -7.5px;
	background-color: #F4511E;

}

.loaded_messages{
	height: 65%;
	min-height: 300px;
	max-height: 400px;
	overflow-y:  scroll;
	margin-bottom: 10px;
}

.loaded_conversations {
	max-height: 500px;
	overflow-y: scroll;
}


.user_found_messages {
	border-bottom: 1px solid #d3d3d3;
	padding :0px 8px 2px 8px;
}

.user_found_messages:hover {
	background-color: #d3d3d3;
}
.user_found_messages img {
	float: left;
	height : 30px;
}
 #grey {
 	color: #8c8c8c;
 }
 .b1 {
 	max-height :80px;
 }

.chat_head {
	background-color: #283048 ;
	border-bottom: 0.2em solid #2c3e50;
	opacity: 0.98;
}
.chat_head h3 {
	color:#fff;
	text-align: left;
}
.chat_head img {
	float: left;
	border-radius: 100px;
	max-height: 70px;
	margin: 0 15px;
}
