#message_textarea {
	width: 100%;
	height: 45px;
	margin-bottom: 10px;
	margin-left: 10px;
	
	font-size: 14px;
}

#message_submit {
	height: 45px;
	width: 76px;
	background-color: #5e5d8b;
	margin-left: -50px;
}

.messages_area {
	display: table;
	background-image: url("../images/chat_backgrounds/chat_background_1.png");


	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;

	width: 100%;
	height: 100%;
	min-height: 100%; /* For at least Firefox */
	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
			box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.message {
	border: 1px solid #bec6d5;
	border-radius: 2px;
	padding: 5px 10px;
	display: inline-block;
	color: #fff;
	font-size: 1.1em;
}

.message#blue {
	background-color: #2ecc71;
	border-color: #2ecc71;
	float:right;
	margin-bottom: 5px;
	position: relative;
	margin-right: 20px;
}

.message#green {
	background-color: dodgerblue;
	border-color: dodgerblue;
	float:left;
	margin-bottom: 4px;
	margin-right: 10px;
	position: relative;
	margin-left: 15px;
}

.message#blue:after {
	position: absolute;
    width: 8px;
    height: 8px;
    border-top: 0px solid #2ecc71;
    border-right: 2px solid #2ecc71;
    border-bottom: 2px solid #2ecc71;
    border-left: 0px solid #2ecc71;
    top: 0%;
    left: 100%;
    margin-left: 0px;
    content: '';
    transform: rotate(45deg);
    margin-top: 1.5px;
    margin-left: -4.5px;
    /*margin-right: 56px; */
    background-color: #2ecc71;
}

.message#green:before {
	position: absolute;
    width: 8px;
    height: 8px;
    border-top: 0px solid dodgerblue;
    border-right: 2px solid dodgerblue;
    border-bottom: 2px solid dodgerblue;
    border-left: 0px solid dodgerblue;
    top: 0%;
    left: 0%;
    margin-left: 0px;
    content: '';
    transform: rotate(45deg);
    margin-top: 1.5px;
    margin-left: -4.5px;
    /*margin-right: 56px; */
    background-color: dodgerblue;
}

.loaded_messages {
	height: 65%;

	min-height: 430px;
	max-height: 430px;

	overflow-y:  scroll;
	margin-bottom: 10px;
	padding-bottom: 15px;
}

.loaded_conversations {
	max-height: 336px;
	overflow-y: scroll;
}

.user_found_messages {
	padding: 0px 8px 2px 8px;
}

.user_found_messages:hover {
	background-color: #d3d3d3;
}

.user_found_messages img {
	float: left;
	height : 30px;
}

 #grey {
 	color: #8c8c8c;
 }

 .b1 {
 	max-height :85px;
 	padding: 5px;
 	border-radius: 2px;
 	margin-bottom: 5px;
 }

.chat_head {
	/* other colors to look for teal;
	firebrick lightseagreenl */
	
	background-color: #5e5d8b;
	border: 0;
	border-radius: 2px;
	opacity: 0.98;
	height: 75px;
}

.chat_head h3 {
	color: #fff;
	text-align: left;
}

.chat_head img {
	float: left;
	margin: 0 15px 0 5px;
}

/*
to remove space between divs in bootstrap
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
    padding-right:0;
    padding-left:0;
}

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}
*/
