.profile_cover {
	position: relative;
	display: table;

	background-image: url("../images/backgrounds/bg3.jpg");
	/* background picture adaptive screen size */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;

	width: 100%;
	height: 380px;
	min-height: 380px; /* For at least Firefox */

	margin-bottom: 70px;

	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
			box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.myprofile_box {
	top: 260px;
	padding: 0;
}

.user_name {
	color: #fff;
	font-size: 25px;
}

.profile_title {
	color: #7f8c8d;
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
}

.pro_form {
	padding-left: 15px;
	color: #2c3e50;
}

.pro_input {
	padding-bottom: 4px;
	padding-left: 10px;
	background-color: transparent;
	color: #2c3e50;
	
	BORDER-TOP-STYLE: none;
	BORDER-RIGHT-STYLE: none;
	BORDER-LEFT-STYLE: none;
	BORDER-BOTTOM-STYLE: solid;

    FILTER: alpha(opacity=0);
    appearance: none;
    -moz-appearance: none;  
    -webkit-appearance: none;
}

.pro_input:disabled {
	background-color: transparent;
	
	BORDER-TOP-STYLE: none;
	BORDER-RIGHT-STYLE: none;
	BORDER-LEFT-STYLE: none;
	BORDER-BOTTOM-STYLE: solid;
    
    FILTER: alpha(opacity=0);
    appearance: none;
    -moz-appearance: none;  
    -webkit-appearance: none;
}